<div class="jumbotron">
  <h1>Outdoor Adventure Club<br>Trip Calendar</h1>
  <p>Browse and subscribe to the trip calendar for great justice</p>
</div>

<%= bootstrap_calendar @date do |date| %>
  <%= content_tag :span, class: "pull-right", "data-cal-date" => "some", "data-cal-view" => "day" do %>
    <%= date.day %>
  <% end %>
  <% if @trips[date].any? %>
    <ul class="list-unstyled">
      <% @trips[date].each do |trip| %>
        <li><%= trip_button trip %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<div class="text-center">
  <div class="btn-group calendar-tools">
    <%= link_to feed_url(format: :atom), class: 'btn btn-default' do %>
      <%= fa_icon 'rss' %> Add to feed reader
    <% end %>
    <%= button_tag class: 'btn btn-default dropdown-toggle', data: {toggle: 'dropdown'} do %>
      <%= fa_icon 'calendar' %> Subscribe to calendar <span class="caret"></span>
    <% end %>
    <ul class="dropdown-menu">
      <li><%= link_to 'Microsoft Outlook', calendar_url(format: :ics, protocol: 'webcal') %></li>
      <li><%= link_to 'Apple iCal', calendar_url(format: :ics, protocol: 'webcal') %></li>
      <li><%= link_to 'Google Calendar', "http://www.google.com/calendar/render?cid=#{uri_escape_url calendar_url(format: :ics)}" %></li>
    </ul>
  </div>
</div>

<footer>
  <p>All content courtesy of <%= link_to 'Outdoor Adventure Club, LLC', 'http://outdooradventureclub.com/' %>. Questions about trips or the club itself? <%= mail_to 'info@outdooradventureclub.com' %>. About this site? <%= mail_to 'bcm@maz.org' %>.</p>
</footer>
