<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Outdoor Adventure Club Trip Calendar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track' => true %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
  </head>
  <body role="document">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-controls">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Outdoor Adventure Club Trip Calendar', root_path, class: 'navbar-brand' %>
        </div>
        <div class="collapse navbar-collapse" id="navbar-controls">
        </div>
      </div>
    </nav>
    <div id="main" class="container" role="main">
      <%= yield %>
    </div>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  </body>
</html>
